<section class="about">
    <h2>About us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel
        nisl id velit dictum ullamcorper. Aenean vitae interdum nibh. Cras
        porttitor, erat id fermentum vehicula, purus felis faucibus ligula, non
        elementum justo ipsum nec eros.
    </p>

    <section class="cards-container">
        <div class="card">
            <div class="card-icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="card-arrow">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>

            <h3>About us</h3>
            <p>
                Major Trading LLC is a multipurpose trading company with a vision of
                catering to different needs of the customers. We are a pioneer in
                making revolutionary changes in the United States.
            </p>


        </div>

        <div class="card">
            <div class="card-icon"><i class="fa-solid fa-bullseye"></i></div>
            <div class="card-arrow">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>

            <h3>Goal</h3>
            <p>
                Major Trading LLC is a multipurpose trading company with a vision of
                catering to different needs of the customers. We are a pioneer in
                making revolutionary changes in the United States.
            </p>
        </div>

        <div class="card">
            <div class="card-icon"><i class="fa-solid fa-eye"></i></div>
            <div class="card-arrow">
                <i class="fa-solid fa-arrow-right-long"></i>
            </div>

            <h3>Vision</h3>
            <p>
                Major Trading LLC is a multipurpose trading company with a vision of
                catering to different needs of the customers. We are a pioneer in
                making revolutionary changes in the United States.
            </p>
        </div>
    </section>
</section>