/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: "Open Sans", Arial, sans-serif;
    overflow-x: hidden;
}

h2, h4, h5, h6 {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-weight: 500;
}

/* Container styles */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 20px;
} 